@import 'vars';

button {
  margin: 0px 10px 10px 0px;
}

button.btn-1 {
  background: black;
  font-size: 1.25rem;
  font-family: GothamMedium;
  color: white;
  border: 2px solid black;
  padding: 7px 15px 5px;
  transition: all .2s;
  &:active {
    background: $color3;
    color: $color0;
  }
}

button.btn-2 {
  background: $color3;
  font-size: 1.25rem;
  font-family: GothamMedium;
  color: $color0;
  border: 2px solid black;
  padding: 7px 15px 5px;
  transition: all .2s;
  &:active {
    background: $color0;
    color: $color4;
  }
}

button.btn-3 {
  background: white;
  font-size: 1.25rem;
  font-family: GothamMedium;
  border: 2px solid black;
  padding: 7px 15px 5px;
  border-radius: 0px 11px 0px 11px;
  transition: all .2s;
  &:active {
    background: black;
    color: white;
    border-radius: 0;
  }
}

// The add button is displayed on the main index page,
// so it can continue to reside here.
#add-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-size: 3.8rem;
  font-family: GothamBold;
  width: 60px;
  height: 60px;
  z-index: 55;
}

#add-button-login {
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-size: 3.8rem;
  font-family: GothamBold;
  width: 60px;
  height: 60px;
  z-index: 55;
  opacity: 0.2;
}
