@import 'vars';

button.btn-1 {
  background: black;
  font-size: 1.25rem;
  font-family: GothamMedium;
  color: white;
  border: 2px solid black;
  padding: 7px 15px 5px;
  transition: all .2s;  
  &:active {
    background: $color3;
    color: $color0;
  }
}

button.btn-2 {
  background: $color3;
  font-size: 1.25rem;
  font-family: GothamMedium;
  color: $color0;
  border: 2px solid black;
  padding: 7px 15px 5px;
  transition: all .2s;  
  &:active {
    background: $color0;
    color: $color4;
  }
}

button.btn-3 {
  background: white;
  font-size: 1.25rem;
  font-family: GothamMedium;
  border: 2px solid black;
  padding: 7px 15px 5px;
  border-radius: 0px 11px 0px 11px;
  transition: all .2s;  
  &:active {
    background: black;
    color: white;
    border-radius: 0;
  }
}

#styleguide-button-container-1,
#styleguide-button-container-2,
#styleguide-button-container-3  {
  padding: 25px 100px;
}

#styleguide-button-container-3 {
  // padding-bottom: 75px;
}

.todo-action {
  margin-right: 10px
}

.todo {
  background: $color3;
  padding: 4vw;
  margin: 10px;
}

#todo-container {
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.button-box {
}


.mb-25 {
  margin-bottom: 25px;
}

@media (max-width: 525px) {
  .todo {
    padding: 20px 8vw;
  }
}


