@font-face {
  font-family: GothamLight;
  src: url(./public/fonts/Gotham-Light.otf);
}
@font-face {
  font-family: GothamMedium;
  src: url(./public/fonts/Gotham-Medium.otf);
}
@font-face {
  font-family: GothamThin;
  src: url(./public/fonts/Gotham-Thin.otf);
}
@font-face {
  font-family: GothamBold;
  src: url(./public/fonts/Gotham-Bold.otf);
}