nav {
	height: 50px;
	background: white;
	padding: 10px 10px 0;

	h3 {
		margin: 0;
	}
	ul {
		li {
			display: inline;
			margin-left: 20px;


		}
	}

}

#add-button {
	position: fixed;
	bottom: 25px;
	right: 25px;
	font-size: 3.8rem;
	font-family: GothamBold;
	border: 3px solid black;
	border-radius: 40px;
	width: 60px;
	height: 60px;
	background: black;
	color: white;
	z-index: 55;

	p {
		position: relative;
		top: 2px;
	}
}
