html, body, div, section, aside, header, nav,
footer, ul, li, p, h1, h2, h3, h4, h5, h6, em,
strong, small, form, input, button, ol, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;

  &:focus, &:hover, &:active {
    outline: none;
    text-decoration: none;
  }
}
