.color-box {
	height: 30px;
	margin: 0 10px;
	&:first-of-type {
		margin-top: 15px;
	}
}

@media (max-width: 325px) {
	.color-box {
		width: 50px;
		height: 30px;
	}
}

// A black line barrier between sections.
.breaker {
	height: 5px;
	background: black;
	width: 100%;
}

// Padding at the end of to document.
#end-pad {
	height: 100px;
	width: 100%;
}

#styleguide-button-container-1,
#styleguide-button-container-2,
#styleguide-button-container-3  {
  padding: 25px 100px;

  &:first-of-type {
  	padding-top: 0;
  }
}

#styleguide-button-container-3 {
  // padding-bottom: 75px;
}

.sect-head {
	margin-bottom: 25px;
}