.color-box {
	width: 100px;
	height: 100px;

	&:first-of-type, &:nth-of-type(2) {
		color: white;
	}
}

// A black line barrier between sections.
.breaker {
	height: 5px;
	background: black;
	width: 100%;
}

// Padding at the end of to document.
#end-pad {
	height: 100px;
	width: 100%;
}

#styleguide-button-container-1,
#styleguide-button-container-2,
#styleguide-button-container-3  {
  padding: 25px 100px;
}

#styleguide-button-container-3 {
  // padding-bottom: 75px;
}