@import 'vars';

// All element styling for elements relating to individual todos
// (and the main container) should live inside this file.

#todo-container {
	display: flex;
  flex-wrap: wrap;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
  padding-top: 60px;
  @media handheld and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.todo-box {
  background: $color3;
  padding: 15px 35px 25px !important;
  margin: 10px;
  display: flex;
  flex-direction: column;
  transition: all .5s;
	&[completed] {
		background: $pale-green;
		color: white;
	}
  .todo-content {
    transition: all .5s;
  	h3 {
  		margin-top: 10px;
  		margin-bottom: 10px;
      transition: all .5s;
  	}
    p {
    	margin-bottom: 5px;
    }
    small {
    	margin-top: 10px;
    }
  }
}


@media (max-width: 768px) {
  .todo {
    padding: 20px 8vw;
  }
  .todo-box {
    background: $color3;
    padding: 15px 25px 10px;
    margin: 10px;
  }
  .todo-content {
    transition: all .5s;
    &.hidden-todo-child {
      display: none;
      opacity: 0;
      transition: opacity .5s;
    }
    &.shown-todo-child {
      display: inline;
      opacity: 1;
    }
    h3 {
      margin-top: 10px;
      margin-bottom: 10px;
      transition: all .5s;
    }
    p {
      margin-bottom: 5px;
    }
    small {
      margin-top: 10px;
    }
    .todo-button-box {
    }

    &.complete {
      background: $color2;
    }
    &.aborted {
      background: $color4;
    }
  }
}

@media (min-width: 767px) {

}

// Backgrounds depending on todo state.
.deleted-todo {
  background: $pale-red !important;
}

.completed-todo {
  background: $pale-green;
}

// Buttons connected to individual todos.
.todo-action {
  margin-right: 10px;
}

.todo-button-box {
  display: flex;
}

.close-todo-button-box {
  position: relative;
  right: -53px;
  top: -30px;
  margin-top: 15px;
}

.close-todo-button {
  position: absolute;
  right: 0;
  max-width: 50px;
  background: white;
  border-radius: 50px;
}

button.inactive-todo-button {
  opacity: .2;
  &:active {
    color: white;
    background: black;
  }
}

.confirmation-action-button {
  width: 60px;
  height: 60px;
  fill: white;
}

button.todo-priority-button {
  font-family: GothamBold;
  font-size: 1.3rem;
  text-transform: uppercase;
  // border: 3px solid black;
  padding: 13px 13px 10px;
  margin: 5px 0px 8px 0px;
  text-align: left;
  transition: all .5s;
  &[disabled] {
    background: black;
    color: white;
    opacity: 0.2;
  }
}
.todo-body-character-count, .todo-title-character-count {
  width: 25px;
  background: none;
  color: #c4bfbd;
  font-size: 1.4rem;
  position: relative;
  top: -10px;
  margin-bottom: 0px;
  margin-top: 5px;
}
