
#add-todo-modal {
	position: fixed;
	background: rgba(255,255,255,0.95);
	height: 100vh;
	z-index: 99;
	padding-top: 50px;


	input:not(:nth-of-type(2)) {
		width: 70%;
		font-family: GothamLight;
		border: 3px solid black;
		padding: 13px 13px 10px;
		margin-top: 10px;
		font-size: 1.8rem;

		&::-webkit-input-placeholder {
			font-size: 1.6rem;
		}
	}
	textarea {
		width: 70%;
		font-family: GothamLight;
		border: 3px solid black;
		padding: 13px 10px 10px;
		height: 170px;
		// margin-top: 18px;
		font-size: 1.8rem;

		&::-webkit-input-placeholder {
			font-size: 1.6rem;
		}
	}
}

#add-todo-priority-button {
	width: 70%;
	font-family: GothamBold;
	text-transform: uppercase;
	// border: 3px solid black;
	padding: 16px 13px 13px;
	margin: 0px 0px 8px 0px;
	text-align: left;
}

#close-button {
	position: fixed;
	bottom: 25px;
	left: 25px;
	font-size: 3.8rem;
	border-radius: 40px;
	width: 60px;
	height: 60px;
	z-index: 100;

	p {
		position: relative;
		top: 2px;
	}
}

#accept-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  z-index: 55;
  margin: 0;
	&.inactive-todo-submit-button {
	  opacity: .2;
	}
}


#add-todo-body-character-count-box, #add-todo-title-character-count-box {
	width: 70%;
	// position: relative;
	// top: -35px;
	// left: -15px;
	height: 18px;
	color: #a9a9a9;
	font-size: 1rem;
}

// #body-character-count p, #add-todo-title-character-count-box p {
//
// 	color: #a9a9a9;
// 	font-size: 1rem;
// }
