@import 'vars';

#todo-container {
	display: flex;
  flex-wrap: wrap;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
  padding-top: 55px;
  @media handheld and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.todo {
  background: $color3;
  padding: 15px 35px 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
	h3 {
		margin-top: 10px;
		margin-bottom: 10px;
	}
  p {
  	margin-bottom: 15px;
  }
  small {
  	margin-top: 10px;
  }
}

.todo-button-box {
	display: flex;
}



@media (max-width: 520px) {
  .todo {
    background: $color3;
    padding: 15px 25px 10px;
    margin: 10px;
    h3 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    p {
      display: none;
      margin-bottom: 15px;
    }
    small {
      display: none;
      margin-top: 10px;
    }
    .todo-button-box {
      display: none;
    }

    &.complete {
      background: $color2;
    }
    &.aborted {
      background: $color4;

    }
  }
}

.todo-mini-complete-modal {
	background: $color2;
	padding: 10px 25px 5px;
	margin: 10px 10px 0px 10px;
	position: relative;
	width: 100%;
	h3 {
		margin-top: 10px;
		margin-bottom: 10px;
	}
  p {
  	margin-bottom: 15px;
  }
  small {
  	margin-top: 10px;
  }
}

.red {
	background: red;
	color: red;
}

.hidden {
	display: none;
}