
$primary-font: GothamLight, sans-serif;

$color0: rgba(0, 0, 0, 1); // Black

$color1: rgba(57, 62, 65, 1); // Dark Gray

$color2: #adedd2; // Light Green

$color3: rgba(245, 239, 237, 1); // Light Gray

$color4: rgba(255, 255, 255, 1); // White


// colors for Priority indication line
$color-Priority-3: #46EA61; // UFP green
$color-Priority-2: #FFF359; // lemon yellow
$color-Priority-1: #E84A4A; // Carmine pink

$red: #FD151B;
$pale-red: #EF6F6C;
$blue: #07A0C3;
$pale-green: #56E39F;
