doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= title
		link(rel='stylesheet', href='stylesheets/main.css')
		link(rel="stylesheet", href="https://cdn.rawgit.com/colshacol/box/master/box-grid.css")
		script(src="scripts/functions")
		script(src="https://cdn.rawgit.com/colshacol/box/master/box-grid.js" defer)
		script(src="scripts/about" defer)

	body
		nav(class="box-col all-12 fixed pb_15")
				div(class="box all-12 space-inside y-center")
					h3 Todo App
					ul
						li about
						li github

		div#about-page-content(class="box-col x-center")
			h2 About
			p Lorum lorum lorum. Lorem ipsum Occaecat veniam id qui pariatur voluptate sed ex do esse Excepteur aute dolor.
			div#about-page-logos(class="box wrap")
				div(class="box logo-1")
					//- HTML5
					img#html5-logo(src="images/logos/HTML5_logo.svg")
					//- CSS3
					img#css3-logo(src="images/logos/css3.svg")
					//- ES6
					img#es6-logo(src="images/logos/es6.png")
				div(class="box")
					//- Node1
					img#nodejs1-logo(src="images/logos/Node.js_logo_2015.svg")
				div(class="box")
					//- Express
					img#express-logo(src="images/logos/express.png")
				div(class="box")
					//- MongoDB
					img#mongodb-logo(src="images/logos/MongoDB-Logo.svg")
				div(class="box")
					//- Git
					img#git-logo(src="images/logos/Git-logo.svg")






				//- Github
				img(github-logo src="images/logos/Octocat.png")

				//- Pug
				img(#pug-logo src="images/logos/pug-logo.svg")
				//- Sass
				img(#sass-logo src="images/logos/Sass_Logo_Color.svg")
				//- Babel
				img(#babel-logo src="images/logos/babel-1.png")
								//- Node2
				img(nodejs2-logo src="images/logos/nodejs-icon.svg")
				//- Nodemon
				img(nodemon-logo src="images/logos/nodemon.svg")
						//- Mongoose
				img(mongoose-logo src="images/logos/mongoose.png")
				//- Faker
				img(faker-logo src="images/logos/faker.png")
				//- robomongo
				img(robomongo-logo src="images/logos/robomongo-logo.png")


	img#about-page-back-button(src="icons/back.svg")
