doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= title
		link(rel='stylesheet', href='stylesheets/main.css')
		link(rel="stylesheet", href="https://cdn.rawgit.com/colshacol/box/master/box-grid.css")
		script(src="scripts/functions")
		script(src="https://cdn.rawgit.com/colshacol/box/master/box-grid.js" defer)
		script(src="scripts/about" defer)

	body
		nav(class="box-col all-12 fixed pb_15")
				div(class="box all-12 space-inside y-center")
					h3 Todo App
					ul
						li about
						li github

		div#about-page-content(class="box-col all-12 x-center")
			h2 About
			p Lorum lorum lorum. Lorem ipsum Occaecat veniam id qui.
		div#about-page-logos(class="box wrap hcj-box")
			div(class="box all-12 space-inside")
				//- HTML5
				img#html5-logo(src="images/logos/HTML5_logo.svg")
				//- CSS3
				img#css3-logo(src="images/logos/css3.svg")
				//- ES6
				img#es6-logo(src="images/logos/js5.svg")
			div#nodejsbox(class="box all-12 x-center")
				//- Node1
				img#nodejs1-logo(src="images/logos/Node.js_logo_2015.svg")
			div#expressbox(class="box all-12 x-center")
				//- Express
				img#express-logo(src="images/logos/express.png")
			div#mongobox(class="box all-12 x-center")
				//- MongoDB
				img#mongodb-logo(src="images/logos/MongoDB-Logo.svg")
			div#gitbox(class="box all-12 space-inside")
				//- Git
				img#git-logo(src="images/logos/Git-logo.svg")
				//- Github
				img#github-logo(src="images/logos/Octocat.png")
			div#mongoosebox(class="box all-12 x-center")
				//- Mongoose
				img#mongoose-logo(src="images/logos/mongoose.png")
			div#slackbox(class="box all-12 space-inside")
				//- robomongo
				img#robomongo-logo(src="images/logos/robomongo-logo.png")
				//- slack
				img#slack-logo(src="images/logos/slack-1.svg")
				//- Nodemon
				img#nodemon-logo(src="images/logos/nodemon.svg")
			div#pug-sassbox(class="box all-12 space-inside")
				//- Pug
				img#pug-logo(src="images/logos/pug-logo.svg")
				//- Sass
				img#sass-logo(src="images/logos/Sass_Logo_Color.svg")
			div#babelbox(class="box all-12 x-center")
				//- Babel
				img#babel-logo(src="images/logos/babel-1.png")
			div#bottomspace

	img#about-page-back-button(src="icons/back.svg")
