doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= title
		link(rel='stylesheet', href='stylesheets/main.css')
		link(rel="stylesheet", href="https://cdn.rawgit.com/colshacol/box/master/box-grid.css")
		script(src="scripts/functions")
		script(src="https://cdn.rawgit.com/colshacol/box/master/box-grid.js" defer)
		script(src="scripts/about" defer)

	body
		nav(class="box-col all-12 fixed pb_15")
				div(class="box all-12 space-inside y-center")
					h3 Todo App
					ul
						li about
						li github

		div#about-page-content(class="box-col x-center")
			h2 About
			p Lorum lorum lorum. Lorem ipsum Occaecat veniam id qui pariatur voluptate sed ex do esse Excepteur aute dolor.
			//- HTML5
			img(src="")
			//- CSS3
			img(src="")
			//- Pug
			img(src="")
			//- Sass
			img(src="")
			//- Babel(ES6)
			img(src="")
			//- Node
			img(src="")
			//- Nodemon
			img(src="")
			//- Express
			img(src="")
			//- MongoDB
			img(src="")
			//- Mongoose
			img(src="")
			//- Faker
			img(src="")
			//- Git
			img(src="")


			div#pc-container(class="box x-center")
				div#p-container(class="personal-info-container")
					p djahsjasjda
				div#c-container(class="personal-info-container")
					p 348ta349tyuaeg

	img#about-page-back-button(src="icons/back.svg")

