extends layout

block content
	img#add-button(src="icons/plus.svg")


	//- ADD TODO MODAL -/////////////////////////////////////
	//- ADD TODO MODAL -/////////////////////////////////////
	//- ADD TODO MODAL -/////////////////////////////////////

	div#add-todo-modal(class="box-col all-12 x-center hidden")
		div(class="box-col all-12 x-center")
			h2 Create a tod#[span#todo-o(class="priority-text-0") o]
			form(class="box-col x-center all-12")
				input#add-todo-input(placeholder="todo title" name="title")
				div#add-todo-title-character-count-box(class="box justify-content-end ")
					p#add-todo-title-character-count(class="box y-center hidden") 55
				textarea#add-todo-textarea(placeholder="write a few details about your todo" name="body")
				div#add-todo-body-character-count-box(class="box justify-content-end")
					p#add-todo-body-character-count(class="box y-center hidden") 140
				button#add-todo-priority-button(class="priority-bg-0", type="button", name="priority", value="0")  priority: low
				image#accept-button(class="inactive-todo-submit-button",
							type="button", src="icons/plus.svg", action="/")
			img#close-button(src="icons/cancel.svg")

	//- NAVIGATION -/////////////////////////////////////
	//- NAVIGATION -/////////////////////////////////////
	//- NAVIGATION -/////////////////////////////////////

	nav(class="box-col all-12 fixed pb_15")
			div(class="box all-12 space-inside y-center")
				h3 Todo App
				ul#nav-links
					//- a(href='/about'): li about
					a(href='https://github.com/phillipjones2/rebootTodo' target:"_blank"): li github

	//- TODOS -/////////////////////////////////////
	//- TODOS -/////////////////////////////////////
	//- TODOS -/////////////////////////////////////

	div#todo-container
		div(class="spinner-container box x-center y-center")
			div(class="spinner")

	script(src="scripts/initial-request.js")
