doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= title
		link(rel='stylesheet', href='stylesheets/main.css')
		link(rel="stylesheet", href="https://cdn.rawgit.com/colshacol/box/master/box-grid.css")
		script(src="scripts/functions")
		script(src="scripts/priority" defer)
		script(src="scripts/new-todo-form" defer)
		//- script(src="scripts/main" defer)
		//- script(src="scripts/priority" defer)
		script(src="https://cdn.rawgit.com/colshacol/box/master/box-grid.js" defer)
	body
		block content

		script(src="scripts/main")
