doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")/
		title= todo app
		link(rel='stylesheet', href='stylesheets/main.css')
		link(rel="stylesheet", href="https://cdn.rawgit.com/colshacol/box/master/box-grid.css")
		script(src="scripts/functions.js")
		script(src="scripts/new-todo-form.js" defer)
		script(src="scripts/edit-todo.js")
		script(src="scripts/mobile-events.js")
		script(src="scripts/box-grid.js" defer)

	body
		block content
