doctype html
html
	head
		title Todo Two StyleGuide
		link(rel='stylesheet', href='stylesheets/main.css')
		link(rel="stylesheet", href="https://cdn.rawgit.com/colshacol/box/master/box-grid.css")
		script(src="javascripts/styleguide.js" defer)
	body(class="box-col")

		div(class="breaker")
		//-------------------------------------
		//-------------------------------------
		//- COLORS ----------------------------

		div(class="box-col x-center p_50")
			h2.sect-head COLORS

			div(class="box even-space all-10 mt_25")
				div(class="color-box box x-center y-center bg-0")
				div(class="color-box box x-center y-center bg-1")
				div(class="color-box box x-center y-center bg-2")
				div(class="color-box box x-center y-center bg-3")
				div(class="color-box box x-center y-center bg-4")

		div(class="breaker")
		//-------------------------------------
		//-------------------------------------
		//- BUTTONS ----------------------------

		section(class="box-col x-center p_50 bg-light-gray")
			h2.sect-head BUTTONS

		div#styleguide-button-container-1(class="box all-12 x-center even-space bg-light-gray")
			button.btn-1 EDIT
			button.btn-1 SAVE
			button.btn-1 REMOVE
			button.btn-1 COMPLETE

		div#styleguide-button-container-2(class="box all-12 x-center even-space bg-light-gray")
			button.btn-2 EDIT
			button.btn-2 SAVE
			button.btn-2 REMOVE
			button.btn-2 COMPLETE

		div#styleguide-button-container-3(class="box all-12 x-center even-space bg-white")
			button.btn-3 EDIT
			button.btn-3 SAVE
			button.btn-3 REMOVE
			button.btn-3 COMPLETE

		div(class="breaker")
		//-------------------------------------
		//-------------------------------------
		//- TYPOGRAPHY ------------------------

		div(class="box-col x-center p_50 bg-light-gray bg-toggle")
				h2.sect-head TYPOGRAPHY

				button#bg-toggler(class="btn-1") TOGGLE BGS

		section#styleguide-type-container-1(class="box-col x-center bg-light-gray bg-toggle pb_100")
			h1 This is an H1.
			h2 This is an H2.
			h3 This is an H3.
			h4 This is an H4.
			p(class="all-8 mt_25") This is Gotham Light, our standard body font.

			p(class="all-8 mt_25"): em This is Gotham Light italicized.

			p(class="all-8 mt_25 font_regular") This is Gotham Regular.

			p(class="all-8 mt_25 font_regular"): em This is Gotham Regular italicized.

			p(class="all-8 mt_25 font_medium") This is Gotham Medium.

			p(class="all-8 mt_25 font_medium"): em This is Gotham Medium italicized.

			p(class="all-8 mt_25 font_bold") This is Gotham Bold.

			small(class="all-8 mt_25") This is a Gotham Light small paragraph.

			small(class="all-8 mt_25"): em This is a Gotham Light small italicized.


		div(class="breaker")
		//-------------------------------------
		//-------------------------------------
		//- TODOS -----------------------------

		section#styleguide-todos-container-1(class="box-col x-center pt_50 pb_100")
			h2.sect-head TODOS

			//- Each .todo contain five children.
			//- img - STATIC: .x-icon
			//- h2 - DYNAMIC: title
			//- p - DYNAMIC: todo content
			//- div + 2 * button - STATIC: buttons
			//- small > em - DYANMIC: todo creation date


			div#todo-container
				div(class="todo xs-11 sm-11 md-5 lg-4 xl-3")
					img(src="icons/cancel.svg" class="x-icon")
					h2 Todo One
					p The Gotham font family has a diverse set of weights available to us.
					div(class="todo-button-box")
						button(class="btn-1 todo-action") EDIT
						button(class="btn-1 todo-action") COMPLETE
					small: em Created: 12/20/1993
				
				div(class="todo xs-11 sm-11 md-5 lg-4 xl-3")
					img(src="icons/cancel.svg" class="x-icon")
					h2 Todo One
					p The Gotham font family has a diverse set of weights available to us.
					div(class="todo-button-box")
						button(class="btn-1 todo-action") EDIT
						button(class="btn-1 todo-action") COMPLETE
					small: em Created: 12/20/1993
				
				div(class="todo xs-11 sm-11 md-5 lg-4 xl-3")
					img(src="icons/cancel.svg" class="x-icon")
					h2 Todo One
					p The Gotham font family has a diverse set of weights available to us.
					div(class="todo-button-box")
						button(class="btn-1 todo-action") EDIT
						button(class="btn-1 todo-action") COMPLETE
					small: em Created: 12/20/1993

				div(class="todo xs-11 sm-11 md-5 lg-4 xl-3")
					img(src="icons/cancel.svg" class="x-icon")
					h2 Todo One
					p The Gotham font family has a diverse set of weights available to us.
					div(class="todo-button-box")
						button(class="btn-1 todo-action") EDIT
						button(class="btn-1 todo-action") COMPLETE
					small: em Created: 12/20/1993
				



		div#end-pad