/*
	Media queries should be set within the file of
	the elements the queries are related to.
*/
@font-face {
  font-family: GothamLight;
  src: url(../fonts/Gotham-Light.otf); }
@font-face {
  font-family: GothamMedium;
  src: url(../fonts/Gotham-Medium.otf); }
@font-face {
  font-family: GothamThin;
  src: url(../fonts/Gotham-Thin.otf); }
@font-face {
  font-family: GothamBold;
  src: url(../fonts/Gotham-Bold.otf); }
@font-face {
  font-family: GothamBook;
  src: url(../fonts/Gotham-Book.otf); }
html, body, div, section, aside, header, nav,
footer, ul, li, p, h1, h2, h3, h4, h5, h6, em,
strong, small, form, input, button, ol, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box; }
  html:focus, html:hover, html:active, body:focus, body:hover, body:active, div:focus, div:hover, div:active, section:focus, section:hover, section:active, aside:focus, aside:hover, aside:active, header:focus, header:hover, header:active, nav:focus, nav:hover, nav:active,
  footer:focus,
  footer:hover,
  footer:active, ul:focus, ul:hover, ul:active, li:focus, li:hover, li:active, p:focus, p:hover, p:active, h1:focus, h1:hover, h1:active, h2:focus, h2:hover, h2:active, h3:focus, h3:hover, h3:active, h4:focus, h4:hover, h4:active, h5:focus, h5:hover, h5:active, h6:focus, h6:hover, h6:active, em:focus, em:hover, em:active,
  strong:focus,
  strong:hover,
  strong:active, small:focus, small:hover, small:active, form:focus, form:hover, form:active, input:focus, input:hover, input:active, button:focus, button:hover, button:active, ol:focus, ol:hover, ol:active, textarea:focus, textarea:hover, textarea:active {
    outline: none;
    text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.8rem;
  font-family: GothamLight;
  line-height: 1.45;
  color: black; }

h1, h2, h3, h4 {
  font-family: GothamBold;
  margin: 0 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3.998rem; }

h2 {
  font-size: 2.827rem; }

h3 {
  font-size: 1.999rem; }

h4 {
  font-size: 1.414rem; }

small {
  font-size: 1.414rem; }

button {
  margin: 0px 10px 10px 0px; }

button.btn-1 {
  background: black;
  font-size: 1.25rem;
  font-family: GothamMedium;
  color: white;
  border: 2px solid black;
  padding: 7px 15px 5px;
  transition: all .2s; }
  button.btn-1:active {
    background: #f5efed;
    color: black; }
  button.btn-1:hover {
    color: #adedd2; }

button.btn-2 {
  background: #f5efed;
  font-size: 1.25rem;
  font-family: GothamMedium;
  color: black;
  border: 2px solid black;
  padding: 7px 15px 5px;
  transition: all .2s; }
  button.btn-2:active {
    background: black;
    color: white; }

button.btn-3 {
  background: white;
  font-size: 1.25rem;
  font-family: GothamMedium;
  border: 2px solid black;
  padding: 7px 15px 5px;
  border-radius: 0px 11px 0px 11px;
  transition: all .2s; }
  button.btn-3:active {
    background: black;
    color: white;
    border-radius: 0; }

#add-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-size: 3.8rem;
  font-family: GothamBold;
  width: 60px;
  height: 60px;
  z-index: 55;
  border-radius: 40px; }
  #add-button:hover {
    background-color: #adedd2; }

#add-button-login {
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-size: 3.8rem;
  font-family: GothamBold;
  width: 60px;
  height: 60px;
  z-index: 55;
  opacity: 0.2; }

#register-btn, #login-btn {
  padding: 5px 10px; }

#register-btn.active, #login-btn.active {
  background: #46ea61;
  border-radius: 5px; }

nav {
  height: 50px;
  background: white;
  z-index: 90; }
  nav h3 {
    margin: 0;
    padding: 20px 0px 15px 10px; }
  nav ul {
    margin-right: 20px; }
    nav ul a {
      text-decoration: none; }
      nav ul a :hover {
        background-color: #f5efed; }
      nav ul a li {
        display: inline;
        font-size: 1.6rem;
        border-radius: .5em;
        padding: 20px 10px 15px 10px; }

#add-todo-modal {
  position: fixed;
  background: rgba(255, 255, 255, 0.95);
  height: 100vh;
  z-index: 99;
  padding-top: 50px; }
  #add-todo-modal input:not(:nth-of-type(2)) {
    width: 80%;
    max-width: 500px;
    font-family: GothamLight;
    border: 3px solid black;
    padding: 13px 13px 10px;
    margin-top: 10px;
    font-size: 1.8rem; }
    #add-todo-modal input:not(:nth-of-type(2))::-webkit-input-placeholder {
      font-size: 1.6rem; }
  #add-todo-modal textarea {
    width: 80%;
    max-width: 500px;
    font-family: GothamLight;
    border: 3px solid black;
    padding: 13px 10px 10px;
    height: 170px;
    font-size: 1.8rem; }
    #add-todo-modal textarea::-webkit-input-placeholder {
      font-size: 1.6rem; }

#add-todo-priority-button {
  width: 80%;
  max-width: 500px;
  font-family: GothamBold;
  text-transform: uppercase;
  padding: 16px 13px 13px;
  margin: 0px 0px 8px 0px;
  text-align: left; }

#close-button {
  position: fixed;
  bottom: 25px;
  left: 25px;
  font-size: 3.8rem;
  width: 60px;
  height: 60px;
  z-index: 100;
  border-radius: 40px; }
  #close-button:hover {
    background-color: #EF6F6C; }
  #close-button p {
    position: relative;
    top: 2px; }

#accept-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  z-index: 55;
  margin: 0;
  border-radius: 40px; }
  #accept-button.inactive-todo-submit-button {
    opacity: .2; }
  #accept-button:hover {
    background-color: #adedd2; }

#add-todo-body-character-count-box, #add-todo-title-character-count-box {
  width: 70%;
  height: 18px;
  color: #a9a9a9;
  font-size: 1rem; }

.spinner-container {
  height: 85vh;
  width: 100%; }

.spinner {
  color: #000000;
  font-size: 20px;
  margin: 100px auto;
  width: .75em;
  height: .75em;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0; }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em; }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0; }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em; } }
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0; }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em; }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0; }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em; } }
#todo-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px; }
  @media handheld and (max-width: 768px) {
    #todo-container {
      flex-direction: column;
      align-items: center; } }

.todo-title.shown-todo-child {
  margin-bottom: 0px; }

.todo-box {
  background: #f5efed;
  padding: 15px 35px 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  transition: all .5s; }
  .todo-box[completed] {
    background: #56E39F;
    color: white; }
  .todo-box .todo-content {
    transition: all .5s; }
    .todo-box .todo-content h3 {
      margin-top: 10px;
      margin-bottom: 10px;
      transition: all .5s; }
    .todo-box .todo-content p {
      margin-bottom: 5px; }
    .todo-box .todo-content small {
      margin-top: 10px; }

@media (max-width: 768px) {
  .todo {
    padding: 20px 8vw; }

  .todo-box {
    background: #f5efed;
    margin: 10px; }

  .todo-content {
    transition: all .5s; }
    .todo-content.hidden-todo-child {
      display: none;
      opacity: 0;
      transition: opacity .5s; }
    .todo-content.shown-todo-child {
      display: inline;
      opacity: 1; }
    .todo-content h3 {
      margin-top: 10px;
      margin-bottom: 10px;
      transition: all .5s; }
    .todo-content p {
      margin-bottom: 5px; }
    .todo-content small {
      margin-top: 10px; }
    .todo-content.complete {
      background: #adedd2; }
    .todo-content.aborted {
      background: white; } }
.deleted-todo {
  background: #EF6F6C; }

div [data-completed] {
  background: #56E39F; }

.todo-action {
  margin-right: 10px; }

.todo-button-box {
  display: flex; }

.close-todo-button-box {
  position: relative;
  right: -53px;
  top: -30px;
  margin-top: 15px; }

.close-todo-button {
  position: absolute;
  right: 0;
  top: -15px;
  max-width: 50px;
  background: white;
  border-radius: 50px; }

button.inactive-todo-button {
  opacity: .2; }
  button.inactive-todo-button:active {
    color: white;
    background: black; }

.confirmation-action-button {
  width: 60px;
  height: 60px;
  fill: white; }

button.todo-priority-button {
  font-family: GothamBold;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 13px 13px 10px;
  margin: 5px 0px 8px 0px;
  text-align: left;
  transition: all .5s; }
  button.todo-priority-button[disabled] {
    background: black;
    color: white;
    opacity: 0.2; }

.todo-body-character-count, .todo-title-character-count {
  width: 25px;
  background: none;
  color: #c4bfbd;
  font-size: 1rem;
  position: relative;
  left: 22px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 0px; }

.todo-title-character-count-box, .todo-body-character-count-box {
  height: 10px; }

.no-todos-warning {
  height: 50vh;
  width: 100%;
  opacity: 0.5; }

.todo-delete-button {
  max-height: 30px;
  max-width: 30px;
  border-radius: 10px; }
  .todo-delete-button:hover {
    background-color: #EF6F6C; }

.hidden {
  display: none; }

#add-todo-modal.hidden, #add-todo-title-character-count.hidden, #add-todo-body-character-count.hidden {
  display: none; }

.scaled-down {
  transform: scale(0); }

.grow-in {
  transform: scale(1); }

/**********************/
/* Background classes */
.bg-black, .bg-0 {
  background: black; }

.bg-dark-gray, .bg-1 {
  background: #393e41; }

.bg-green, .bg-2 {
  background: #adedd2; }

.bg-light-gray, .bg-3 {
  background: #f5efed; }

.bg-pale-green {
  background: #56E39F; }

.bg-pale-red {
  background: #EF6F6C; }

.bg-white, .bg-4 {
  background: white; }

.bg-red, .bg-5 {
  background: #DBA2A7; }

.font-white {
  color: white; }

.fixed {
  position: fixed; }

/**************************/
/* Priority color classes */
.priority-2 {
  border-top: 2px solid #E84A4A; }

.priority-1 {
  border-top: 2px solid #FFF359; }

.priority-0 {
  border-top: 2px solid #46EA61; }

.priority-bg-2 {
  background: #E84A4A; }

.priority-bg-1 {
  background: #FFF359; }

.priority-bg-0 {
  background: #46EA61; }

.priority-text-2 {
  color: #E84A4A; }

.priority-text-1 {
  color: #FFF359; }

.priority-text-0 {
  color: #46EA61; }

/***********************/
/* Font weight classes */
.font_light {
  font-family: GothamLight, sans-serif; }

.font_bold {
  font-family: GothamBold, sans-serif; }

.font_medium {
  font-family: GothamMedium, sans-serif; }

.font_regular {
  font-family: GothamBook, sans-serif; }

/*******************/
/* Display classes */
.display_block {
  display: block; }

.display_inline {
  display: inline; }

/*******************/
/* Margin classes. */
.m_15 {
  margin: 15px; }

.m_20 {
  margin: 20px; }

.m_25 {
  margin: 25px; }

.m_50 {
  margin: 50px; }

.m_75 {
  margin: 75px; }

.m_100 {
  margin: 100px; }

.mt_15 {
  margin-top: 15px; }

.mt_20 {
  margin-top: 20px; }

.mt_25 {
  margin-top: 25px; }

.mt_50 {
  margin-top: 50px; }

.mt_75 {
  margin-top: 75px; }

.mt_100 {
  margin-top: 100px; }

.mb_15 {
  margin-bottom: 15px; }

.mb_20 {
  margin-bottom: 20px; }

.mb_25 {
  margin-bottom: 25px; }

.mb_50 {
  margin-bottom: 50px; }

.mb_75 {
  margin-bottom: 75px; }

.mb_100 {
  margin-bottom: 100px; }

.mr_15 {
  margin-right: 15px; }

.mr_20 {
  margin-right: 20px; }

.mr_25 {
  margin-right: 25px; }

.mr_50 {
  margin-right: 50px; }

.mr_75 {
  margin-right: 75px; }

.mr_100 {
  margin-right: 100px; }

.ml_15 {
  margin-left: 15px; }

.ml_20 {
  margin-left: 20px; }

.ml_25 {
  margin-left: 25px; }

.ml_50 {
  margin-left: 50px; }

.ml_75 {
  margin-left: 75px; }

.ml_100 {
  margin-left: 100px; }

/********************/
/* Padding classes. */
.p_15 {
  padding: 15px; }

.p_20 {
  padding: 20px; }

.p_25 {
  padding: 25px; }

.p_50 {
  padding: 50px; }

.p_75 {
  padding: 75px; }

.p_100 {
  padding: 100px; }

.pt_15 {
  padding-top: 15px; }

.pt_20 {
  padding-top: 20px; }

.pt_25 {
  padding-top: 25px; }

.pt_50 {
  padding-top: 50px; }

.pt_75 {
  padding-top: 75px; }

.pt_100 {
  padding-top: 100px; }

.pb_15 {
  padding-bottom: 15px; }

.pb_20 {
  padding-bottom: 20px; }

.pb_25 {
  padding-bottom: 25px; }

.pb_50 {
  padding-bottom: 50px; }

.pb_75 {
  padding-bottom: 75px; }

.pb_100 {
  padding-bottom: 100px; }

.pr_15 {
  padding-right: 15px; }

.pr_20 {
  padding-right: 20px; }

.pr_25 {
  padding-right: 25px; }

.pr_50 {
  padding-right: 50px; }

.pr_75 {
  padding-right: 75px; }

.pr_100 {
  padding-right: 100px; }

.pl_15 {
  padding-left: 15px; }

.pl_20 {
  padding-left: 20px; }

.pl_25 {
  padding-left: 25px; }

.pl_50 {
  padding-left: 50px; }

.pl_75 {
  padding-left: 75px; }

.pl_100 {
  padding-left: 100px; }

/********************/
/* Opacity classes. */
.opc_9 {
  opacity: .9; }

.opc_8 {
  opacity: .8; }

.opc_6 {
  opacity: .6; }

.opc_5 {
  opacity: .5; }

.opc_4 {
  opacity: .4; }

.opc_3 {
  opacity: .3; }

.opc_2 {
  opacity: .2; }

.opc_1 {
  opacity: .1; }

@media (min-width: 1200px) {
  .xl-2-5 {
    width: 30%; } }
@media (min-width: 891px) and (max-width: 1200px) {
  .lg-3-5 {
    width: 42%; } }
@keyframes flash {
  from, 50%, to {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
.flash {
  animation-name: flash;
  animation-duration: .5s; }

.left-25 {
  left: -25%;
  max-width: 90vw; }

#about-page-back-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  z-index: 55;
  margin: 0; }

#about-page-content {
  padding: 75px 25px 25px 25px; }

#html5-logo, #css3-logo, #es6-logo {
  max-height: 100px;
  padding-bottom: 5px; }

#nodejsbox, #expressbox, #mongoosebox, #slackbox, #babelbox {
  height: 100px; }

#nodejs1-logo, #express-logo, #mongodb-logo {
  max-width: 90%; }

#mongobox {
  height: 70px; }

#gitbox {
  height: 150px; }

#git-logo {
  min-width: 140px; }

#github-logo {
  min-width: 50px; }

#mongoose-logo {
  width: 260px; }

#robomongo-logo {
  width: 90px; }

#slack-logo {
  width: 90px; }

#nodemon-logo {
  width: 91px; }

#pug-sassbox {
  height: 120px; }

#pug-logo, #sass-logo {
  min-width: 140px; }

#babel-logo {
  min-width: 100px; }

#bottomspace {
  height: 154px; }

#pc-container {
  width: 200%;
  flex-wrap: nowrap; }

.personal-info-container {
  margin: 0;
  padding: 0;
  width: 50%;
  height: 300px;
  position: relative; }

#c-container {
  background: #07A0C3;
  transition: all 1s; }

@media (min-width: 500px) {
  #html5-logo {
    padding-left: 60px; }

  #es6-logo {
    padding-right: 60px; }

  #gitbox {
    height: 200px; }

  #git-logo {
    min-width: 140px;
    padding-left: 25px; }

  #github-logo {
    min-width: 50px; }

  #robomongo-logo {
    padding-left: 60px; }

  #nodemon-logo {
    padding-right: 60px; }

  #pug-logo {
    padding-left: 60px; }

  #sass-logo {
    padding-right: 60px; } }
.color-box {
  height: 30px;
  margin: 0 10px; }
  .color-box:first-of-type {
    margin-top: 15px; }

@media (max-width: 325px) {
  .color-box {
    width: 50px;
    height: 30px; } }
.breaker {
  height: 5px;
  background: black;
  width: 100%; }

#end-pad {
  height: 100px;
  width: 100%; }

#styleguide-button-container-1,
#styleguide-button-container-2,
#styleguide-button-container-3 {
  padding: 25px 100px; }
  #styleguide-button-container-1:first-of-type,
  #styleguide-button-container-2:first-of-type,
  #styleguide-button-container-3:first-of-type {
    padding-top: 0; }

.sect-head {
  margin-bottom: 25px; }

/*# sourceMappingURL=main.css.map */
